name: "BB-CI: Build and Test"

on:
  push:
    branches: [demo/bb-ci]
  pull_request:
  workflow_dispatch:

jobs:
  check:
    uses: "itsshantanu/gha-utils/.github/workflows/full-check.yml@demo/bb-ci"

  lint:
    name: Forge Lint
    uses: itsshantanu/gha-utils/.github/workflows/evm-lint.yml@demo/bb-ci
    secrets: inherit

  build:
    name: Forge Build
    uses: itsshantanu/gha-utils/.github/workflows/forge-build.yml@demo/bb-ci
    secrets: inherit

  # test-utils:
  #   needs: ["lint", "build"]
  #   uses: "itsshantanu/gha-utils/.github/workflows/bb-forge-test.yml@demo/bb-ci"
  #   secrets: inherit
  #   with:
  #     foundry-profile: "test-optimized"
  #     match-path: "tests/utils/**/*.sol"
  #     name: "Utils tests"

  # test-unit:
  #   needs: ["check", "build"]
  #   uses: "itsshantanu/gha-utils/.github/workflows/bb-forge-test.yml@demo/bb-ci"
  #   secrets: inherit
  #   with:
  #     foundry-fuzz-runs: 2000
  #     foundry-profile: "test-optimized"
  #     match-path: "tests/unit/**/*.sol"
  #     name: "Unit tests"

  test-integration:
    needs: ["check", "build"]
    uses: "itsshantanu/gha-utils/.github/workflows/bb-forge-test.yml@demo/bb-ci"
    secrets: inherit
    with:
      foundry-fuzz-runs: 2000
      foundry-profile: "lite"
      match-path: "tests/integration/**/*.sol"
      name: "Integration tests"

  # test-invariant:
  #   needs: ["check", "build"]
  #   uses: "itsshantanu/gha-utils/.github/workflows/bb-forge-test.yml@demo/bb-ci"
  #   secrets: inherit
  #   with:
  #     foundry-profile: "lite"
  #     match-path: "tests/invariant/**/*.sol"
  #     name: "Invariant tests"

  # test-fork:
  #   needs: ["check", "build"]
  #   uses: "itsshantanu/gha-utils/.github/workflows/bb-forge-test.yml@demo/bb-ci"
  #   secrets: inherit
  #   with:
  #     foundry-fuzz-runs: 20
  #     foundry-profile: "lite"
  #     match-path: "tests/fork/**/*.sol"
  #     name: "Fork tests"
